body {
  font-family: "Ubuntu", sans-serif;
  background-image: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
  background-color: #ffffff;
}

.navbar-brand {
  cursor: pointer;
}

/* .logo {
  width: 40px;
  height: 40px;
} */

.dark-image {
  filter: brightness(60%);
}

/* .shadow1 {
  box-shadow: 0 1px 40px gray;
} */
.carousel-item {
  transition: transform 1s ease, opacity 0.3s ease-out;
}

.popular-orgnizer {
  background-image: url(/Media/Accounting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(90%);
}

@media screen and (max-width:400px) {
  .orgnizer-items .d-flex img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:400px) and (max-width:768px) {
  .orgnizer-items .d-flex img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 574px) {
  .carousel-caption h4 {
    font-size: 12px;
  }

  .carousel-caption p {
    font-size: 10px;
  }

  .carousel-caption .text-secondary {
    font-size: 8px;
  }
}


@media screen and (max-width: 991px) {
  .offcanvas-body form {
    margin-top: 10px;
  }

  .offcanvas-body {
    font-size: 14px;
  }

  .nav-item-hide1 {
    display: none;
  }

  .navbar-brand1 {
    display: none;
  }

  .carousel-caption h4 {
    font-size: 14px;
  }

  .carousel-caption p {
    font-size: 12px;
  }

  .carousel-caption .text-secondary {
    font-size: 10px;
  }

  .link-items {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  svg {
    cursor: pointer;
  }

  .nav-item-hide1 svg {
    display: none;
  }

  .navbar-brand svg {
    display: none;
  }

  .navbar-brand-img {
    display: none;
  }

  .offcanvas-body {
    font-size: 16px;
  }

  .offcanvas-body .navbar-nav {
    align-items: center;
  }

  .offcanvas-body form input {
    font-size: 15px;
  }

  .nav-item-hide {
    display: none;
  }

  .select-items {
    display: none;
  }

  .card-body a {
    font-size: 12px;
    font-weight: 400;
  }

  .card-time {
    font-size: 13px;
  }



  /* .offcanvas-body form {
        border-right: 2px solid #333;
    } */
}

@media screen and (max-width: 1110px) and (min-width:991px) {
  .offcanvas-body {
    font-size: 12.4px;
  }
}