body {
    font-family: "Ubuntu", sans-serif;
    background-image: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
    background-color: #ffffff;
}

@media screen and (max-width:991px) {
    .offcanvas-body form {
        margin-top: 10px;
    }

    .offcanvas-body {
        font-size: 14px;
    }

    .nav-item-hide1 {
        display: none;
    }

    .navbar-brand1 {
        display: none;
    }
}


@media screen and (min-width:991px) {
    .container-fluid {
        padding: 0 4rem !important;
    }

    .search-icon {
        background-image: url(/Public/SVG/search.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 16px 16px;
        padding-right: 20px;
        /* Adjust padding to make room for the icon */
    }

    svg {
        display: none;
    }

    .navbar-brand-img {
        display: none;
    }

    .offcanvas-body {
        font-size: 16px;
    }

    .offcanvas-body .navbar-nav {
        align-items: center;
    }

    .offcanvas-body form input {
        font-size: 14px;
    }

    .nav-item-hide {
        display: none;
    }

    /* .offcanvas-body form {
        border-right: 2px solid #333;
    } */
}